{% extends "blog/post_list.html" %}
{% block content %}
    <h1>Change password</h1>

    {% if user.is_authenticated %}
        {% if form.non_field_errors %}
            {{ form.non_field_errors }}
        {% endif %}

        <form method="post" action="">
            <dl class="register">
                {% csrf_token %}
                {% for field in form %}
                    <dt>{{ field.label_tag }}</dt>
                    <dd class="clearfix">{{ field }}
                        {% if field.help_text %}
                            <div style="margin-top: 15px" class="clearfix">{{ field.help_text }}</div>{% endif %}
                        {% if field.errors %}
                            <div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
                    </dd>
                {% endfor %}
            </dl>
            <input style="margin-bottom: 15px" type="submit" value="Change" class="clearfix">
        </form>

        <script type="text/javascript">
            document.getElementById('id_username').focus()
        </script>
    {% else %}
        <p></p>
    {% endif %}
{% endblock %}