{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Animal's home</title>

    <link rel="icon" href="/static/favicon.png" type="image/png">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>

<body>

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav" style="float: left">
            <a class="blog-nav-item" href="/">Forum</a>
            <a class="blog-nav-item" href="/rel">Relationships</a>
            <a class="blog-nav-item" href="#">About</a>
        </nav>
        <nav class="blog-nav navbar " style="float: right; margin: 0; min-height: 40px; border: none">
            {% if user.is_authenticated %}
                <a class="dropdown-toggle blog-nav-item" data-toggle="dropdown" href="/login"><span
                        class="glyphicon glyphicon-user"></span> {{ user.username }}</a>
                <ul class="dropdown-menu">
                    <li><a href="/password_change">Change password</a></li>
                    <li><a href="/email_change">Change e-mail/username</a></li>
                    <li><a class="blog-nav-item" href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log
                        Out</a></li>
                </ul>

            {% else %}
                <a class="blog-nav-item" href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                <a class="blog-nav-item" href="/login"><span class="glyphicon glyphicon-log-in"></span> Log In</a>
            {% endif %}
        </nav>
    </div>
</div>

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Animal's home</h1>
        <p class="lead blog-description">School X</p>
    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">
            <div class="blog-post">
                {% block content %}
                    {% if post.rating == 0 %}
                        <p style="color: grey; float: right">0</p>
                    {% elif post.rating > 0 %}
                        <p style="color: green; float: right">+{{ post.rating }}</p>
                    {% else %}
                        <p style="color: red;float: right">{{ post.rating }}</p>
                    {% endif %}
                    <p>{{ post.published_date }}</p>
                    <h2 style="font-weight: 800;">{{ post.title }}</h2>
					<br>
					{% if post.picture %}
                        <img src="{{ post.picture.url }}" class="img-responsive" alt="img">
                    {% endif %}
					<br>
                    <p style="text-align: justify">&#09;{{ post.text }}</p>
                    

                    {% if like == 0 %}
                        <a style="float: right; " href="/dislike/{{ post.id }}"><span
                                class="glyphicon glyphicon-thumbs-down"></span> Dislike</a>
                        <a style="float: right; margin-right: 15px;" href="/like/{{ post.id }}"><span
                                class="glyphicon glyphicon-thumbs-up"></span> Like </a>
                    {% elif like == 1 %}
                        <p style="color: blue; float: right">You're already liked that post</p>
                    {% else %}
                        <p style="color: blue; float: right">You're already disliked that post</p>
                    {% endif %}
                    </div>
                    <div class="blog-post">
                        <div id="comments">
                            <div class="comment-tabs">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="active"><a href="#comments-logout" role="tab" data-toggle="tab"><h4
                                            class="reviews text-capitalize">Comments</h4></a></li>
                                    {% if form %}
                                        <li><a href="#add-comment" role="tab" data-toggle="tab"><h4
                                                class="reviews text-capitalize">Add comment</h4></a></li>
                                    {% else %}
                                    {% endif %}
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="comments-logout">
                                        <ul class="media-list">
                                            {% for comment in comments %}
                                                <li class="media">
                                                    <a class="pull-left" href="#">
                                                        <img style='margin-top:15%; border-radius: 0'
                                                             class="media-object img-circle"
                                                             src="http://s1.iconbird.com/ico/0612/GooglePlusInterfaceIcons/w128h1281338911651user.png"
                                                             alt="profile">
                                                    </a>
                                                    <div class="media-body">
                                                        <div class="well well-lg" style="margin-top: 10px">
                                                            <h4 class="media-heading text-uppercase reviews">{{ comment.author }}</h4>
                                                            <p>{{ comment.published_date }}</p>
                                                            <p class="media-comment">
                                                                {{ comment.text }}
                                                            </p>
                                                            {% if comment.picture %}
                                                                <p align="center"><img src="{{ comment.picture.url }}"
                                                                                       class="img-responsive"
                                                                                       alt="img"></p>
                                                            {% endif %}
                                                        </div>
                                                    </div>

                                                </li>
                                            {% empty %}
                                                <p>There isn't any comments</p>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="add-comment">
                                        <form enctype="multipart/form-data" id="comment_area"
                                              action="{% url 'add_comment' post.id %}" method="post">
                                            <div class="form-group">
                                                <label for="email" class="col-sm-2 control-label">Comment</label>
                                                <div style="margin-top:10px" class="col-sm-10">
                                                    {% csrf_token %}
                                                    {% if form %}
                                                        {% bootstrap_form form %}
                                                        {% buttons %}
                                                            <button type="submit"
                                                                    class="btn btn-primary">{% bootstrap_icon "comment" %}&nbsp;&nbsp;Comment
                                                            </button>
                                                        {% endbuttons %}
                                                    {% endif %}
                                                </div>

                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    </div><!-- /.blog-main -->

                    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                        <div class="sidebar-module sidebar-module-inset">
                            <h4>About</h4>
                            <p>Bulletin board for finding animals for mating.</p>
                        </div>
                        
                        <div class="sidebar-module">
                            <h4>Contacts</h4>
                            <ol class="list-unstyled">
                                <li><a href="donstux.com">Donstux</a></li>
                            </ol>
                        </div>
                    </div><!-- /.blog-sidebar -->
                {% endblock %}
    </div><!-- /.row -->

</div><!-- /.container -->



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
